<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- 
    these values are loaded when the app starts
    -->
    <add key="DefaultHost" value="12.235.39.172"/>
    <add key="DefaultPort" value="5450"/>
    <add key="DefaultUserId" value="$SEEVSE1"/>
    <add key="DefaultPassword" value="$SEEVSE1"/>
    <add key="DefaultFileLocation" value="C:\SVSEXCAP\"/>
  </appSettings>

 <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
